.welcomeSkeletonContainer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.zIndexSkeleton{
    position: absolute;
    z-index: -1;
    width: 100%;
}

.zIndexSkeletonCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    width: 100%;
}