body{
    margin: 0;
    overflow-x: hidden;
    background-color: #faeee7;
    font-family: 'Poppins', sans-serif;
}

button:hover{
    cursor: pointer;
}

.globalLinks{
    text-decoration: none;
}

